# Ambientes virtuais
.venv/
venv/
env/

# Arquivos de sistema e cache
__pycache__/
*.pyc
.DS_Store

# Variáveis de Ambiente (CRÍTICO: JAMAIS SUBIR ISSO)
.env

# Arquivos temporários de teste
debug_*.py
teste_*.py