fastapi
uvicorn
python-dotenv
pydantic
requests
langchain
langchain-groq
langchain-community
langchain-huggingface
huggingface-hub
sentence-transformers
langchain-pinecone
pinecone-client
duckduckgo-search
supabase
edge-tts
gTTS